@model IEnumerable<Erasmus.Models.Kolegij>

@{
    ViewBag.Title = "Kolegiji";
}

<h2>Popis kolegija</h2>
@using (Html.BeginForm("SearchIndex", "Kolegijs", FormMethod.Get))
{
    <p>
        Nositelj kolegija: @Html.DropDownList("searchNositelj", "Svi nositelji")
        Naziv kolegija: @Html.TextBox("SearchString")
        <input type="submit" value="Pretraži" />
    </p>
}
<p>
    @Html.ActionLink("Novi unos", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.NazivKolegija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NositeljKolegija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.PunoImeStudenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RBrRoka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRoka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocjena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.AkademskaGodina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivKolegija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NositeljKolegija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBrRoka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRoka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.ID }) |
                @Html.ActionLink("Brisanje", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
