@model IEnumerable<Erasmus.Models.Student>

@{
    ViewBag.Title = "Popis";
}

<h2>Popis</h2>

<p>
    @Html.ActionLink("Novi student", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SlikaDatoteka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PunoImeStudenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AkademskaGodina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudijskiProgram)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ZemljaStudija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-rounded center-block" width="56" height="36" src="@Url.Action("DohvatiSliku", "Students", new { slikaId = item.ID })" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PunoImeStudenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AkademskaGodina)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StudijskiProgram)
        </td>



        <td>
            @Html.DisplayFor(modelItem => item.ZemljaStudija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Više", "Details", new { id = item.ID }) |
            @Html.ActionLink("Obriši", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
